We detected an incident affecting our services:

{{ .Status }} - {{ .Title }}
Affected Services: {{ range .Services }}
- {{ .Name }} {{ end }}

Visit https://status.rocket.chat/i/{{ .ID }} for more details.
