On {{ .Maintenance.Start.Format "Monday, 02 January 2006 at 15:04:05 UTC" }} we will be undergoing a schedule maintenance on our Cloud Services, with prediction to end at {{ .Maintenance.End.Format "Monday, 02 January 2006 at 15:04:05 UTC" }}.

Visit https://status.rocket.chat for more details.
