Incident Update:

{{ .update.Status }} - {{ .update.Message }}
Affected Services: {{ range .update.Services }}
- {{ .update.Name }} {{ end }}

Visit https://status.rocket.chat/i/{{ .incident.ID }} for more details.
