<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <title>Status &bullet; {{ .owner }}</title>
    <link rel="icon" type="image/png" href="static/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="static/css/app.css?v={{ .cacheBreaker }}" />
    <link rel="stylesheet" href="static/css/font-awesome.min.css">

    <style>
        .header {
            background-color: {{ .backgroundColor }};
        }
    </style>
</head>
<body>
    <div class="header"></div>
    <div class="page">
        <div class="spacer">
            <div class="flex row">
                <img class="logo" src="{{ .logo }}" />
            </div>

            <div class="info-header">
                {{ if eq .mostCriticalStatus 0 }}
                    <div class="notification success">
                        <h1>All Systems Nominal</h1>
                    </div>
                {{ else if eq .mostCriticalStatus 1 }}
                    <div class="notification info">
                        <h1>Performance Issues on some services</h1>
                    </div>
                {{ else if eq .mostCriticalStatus 2 }}
                    <div class="notification warning">
                        <h1>Partial Outage on some services</h1>
                    </div>
                {{ else if eq .mostCriticalStatus 3 }}
                    <div class="notification critical">
                        <h1>Major Outage on some services</h1>
                    </div>
                {{ else if eq .mostCriticalStatus 4 }}
                    <div class="notification info">
                        <h1>Schedule maintenance on some services</h1>
                    </div>
                {{ else if eq .mostCriticalStatus 5 }}
                    <div class="notification info">
                        <h1>Failed to load the status for the services</h1>
                    </div>
                {{ end }}
            </div>

            <div class="main flex row wrap">
                <div class="incidents">
                    <div class="line">
                        <h2>Incidents</h2>
                    </div>

                    {{ range $index, $aggregatedIncident := .incidents }}
                        {{ $length := len $aggregatedIncident.Incidents }}
                        {{ if eq $length 0 }}
                            <div class="line empty">
                                {{ $aggregatedIncident.Time.Format "Jan 02" }}
                            </div>
                        {{ else }}
                            <div class="line">
                                <div class="flex row">
                                    <span class="date">{{ $aggregatedIncident.Time.Format "Jan 02" }}</span>
                                    <div class="line">
                                        {{ range $incident := $aggregatedIncident.Incidents }}
                                            <div class="content">
                                                <h3><a href="/incidents/{{ $incident.ID }}">{{ $incident.Title }}</a></h3>

                                                {{ range $update := $incident.Updates }}
                                                    {{ if eq ($update.Time.Day) ($aggregatedIncident.Time.Day) }}
                                                        <p><b>{{ $update.Time.Format "15:04"}} {{ $update.Status }}</b> - {{$update.Message}}</p>
                                                    {{ else }}
                                                        <p><b>{{ $update.Time.Format "Jan 02 15:04"}} {{ $update.Status }}</b> - {{$update.Message}}</p>
                                                    {{ end }}
                                                {{ end }}
                                            </div>
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                        {{ end }}
                    {{ end }}

                </div>

                <div class="services">
                    <div class="group">
                        <div class="line">
                            <h2>Service Status</h2>
                        </div>

                        {{ $success := "fa-check-circle success" }}
                        {{ $info := "fa-info-circle info" }}
                        {{ $warning := "fa-exclamation-circle warning" }}
                        {{ $critical := "fa-times-circle critical" }}
                        {{ $unknown := "fa-question-circle info" }}

                        {{ range $service := .services }}
                            <div class="line" style="height:35px">
                                <p>
                                    {{ $service.Name }} - {{ $service.Status }}

                                    {{ if not $service.Regions }}
                                        <span class="
                                            fa indicator
                                            {{ if eq $service.Status "Nominal" }}
                                                {{ $success }}
                                            {{ else if eq $service.Status "Degraded" }}
                                                {{ $info }}
                                            {{ else if eq $service.Status "Partial-outage" }}
                                                {{ $warning }}
                                            {{ else if eq $service.Status "Outage" }}
                                                {{ $critical }}
                                            {{ else if eq $service.Status "Scheduled Maintenance" }}
                                                {{ $info }}
                                            {{ else if eq $service.Status "Unknown" }}
                                                {{ $unknown }}
                                            {{ end }}
                                        "></span>
                                    {{ end }}
                                </p>
                                <div class="regions">
                                    {{ range $region := $service.Regions }}
                                            <div class="region">
                                            <p class="name">
                                            {{ $region.Name }}
                                            </p>
                                            <p class="status">
                                            <span class="
                                                fa indicator
                                                {{ if eq $region.Status "Nominal" }}
                                                    {{ $success }}
                                                {{ else if eq $region.Status "Degraded" }}
                                                    {{ $info }}
                                                {{ else if eq $region.Status "Partial-outage" }}
                                                    {{ $warning }}
                                                {{ else if eq $region.Status "Outage" }}
                                                    {{ $critical }}
                                                {{ else if eq $region.Status "Scheduled Maintenance" }}
                                                    {{ $info }}
                                                {{ else if eq $region.Status "Unknown" }}
                                                    {{ $unknown }}
                                                {{ end }} 
                                            "></span>
                                            </p>
                                            </div>
                                    {{ end }}
                                </div>
                            </div>
                        {{ end }}
                    </div>
                </div>
            </div>

            <div class="flex row justify-end">
                <div class="incidents">
                    <div class="line">
                        <h2>Scheduled Maintenance</h2>
                    </div>

                    {{ range $index, $aggregatedScheduledMaintenance := .scheduledMaintenance }}
                        {{ $length := len $aggregatedScheduledMaintenance.ScheduledMaintenance }}
                        {{ if ne $length 0 }}
                            <div class="line">
                                <div class="flex row">
                                    <span class="date">{{ $aggregatedScheduledMaintenance.Time.Format "Jan 02" }}</span>
                                    <div class="line">
                                        {{ range $scheduledMaintenance := $aggregatedScheduledMaintenance.ScheduledMaintenance }}
                                            <div class="content">
                                                <h3><a href="/scheduled-maintenance/{{ $scheduledMaintenance.ID }}">{{ $scheduledMaintenance.Title }}</a></h3>

                                                <p><b>Description:</b> {{ $scheduledMaintenance.Description }}</p>
                                                <p><b>Services:</b> {{ range $service := $scheduledMaintenance.Services }}{{ $service.Name }}{{ end }}</p>
                                                <p><b>Planned Time:</b> {{ $scheduledMaintenance.PlannedStart.Format "2006/01/02 15:04"}} - {{ $scheduledMaintenance.PlannedEnd.Format "2006/01/02 15:04"}}</p>

                                                <hr />

                                                {{ range $update := $scheduledMaintenance.Updates }}
                                                    {{ if eq ($update.Time.Day) ($scheduledMaintenance.CreatedAt.Day) }}
                                                        <p><b>{{ $update.Time.Format "15:04"}} {{ $update.Status }}</b> - {{$update.Message}}</p>
                                                    {{ else }}
                                                        <p><b>{{ $update.Time.Format "Jan 02 15:04"}} {{ $update.Status }}</b> - {{$update.Message}}</p>
                                                    {{ end }}
                                                {{ end }}
                                            </div>
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                        {{ end }}
                    {{ end }}

                </div>
            </div>

            <div class="hr"></div>

            <div class="flex row justify-end">
                <p class="footer">Follow our Twitter: <a href="https://twitter.com/RocketChatCloud">@RocketChatCloud</a></p>
            </div>
        </div>
    </div>
</body>
</html>
