{
    "swagger": "2.0",
    "info": {
        "description": "Operational status for Rocket Chat SaaS \u0026 Cloud",
        "title": "Status Central",
        "contact": {
            "name": "Cloud Team",
            "url": "https://open.rocket.chat/group/cloud"
        },
        "version": "0.1"
    },
    "host": "status.rocket.chat",
    "basePath": "/api",
    "paths": {
        "/v1/incidents": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "incident"
                ],
                "summary": "Gets list of incidents",
                "operationId": "incidents-getall",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Incident"
                            }
                        }
                    }
                }
            },
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "incident"
                ],
                "summary": "Creates a new incident",
                "operationId": "incident-create",
                "parameters": [
                    {
                        "description": "Incident object",
                        "name": "region",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.Incident"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Incident"
                        }
                    }
                }
            }
        },
        "/v1/incidents/{id}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "incident"
                ],
                "summary": "Gets one incident",
                "operationId": "incidents-getOne",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Incident"
                        }
                    }
                }
            },
            "delete": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "incident"
                ],
                "summary": "Deletes an incidents",
                "operationId": "incidents-delete",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Incident"
                            }
                        }
                    }
                }
            }
        },
        "/v1/incidents/{id}/updates": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "incident-update"
                ],
                "summary": "Gets incident updates",
                "operationId": "incident-update-getall",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.IncidentUpdate"
                            }
                        }
                    }
                }
            },
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "incident"
                ],
                "summary": "Creates a new incident update",
                "operationId": "incident-create-update",
                "parameters": [
                    {
                        "description": "Incident update object",
                        "name": "region",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.IncidentUpdate"
                        }
                    },
                    {
                        "type": "integer",
                        "description": "Incident id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.IncidentUpdate"
                        }
                    }
                }
            }
        },
        "/v1/incidents/{id}/updates/{updateId}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "incident-update"
                ],
                "summary": "Gets one incident update",
                "operationId": "incident-update-getone",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.IncidentUpdate"
                        }
                    }
                }
            },
            "delete": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "incident-update"
                ],
                "summary": "Deletes one incident update",
                "operationId": "incident-update-delete",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.IncidentUpdate"
                        }
                    }
                }
            }
        },
        "/v1/regions": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "region"
                ],
                "summary": "Creates a new region",
                "operationId": "region-create",
                "parameters": [
                    {
                        "description": "Region object",
                        "name": "region",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.Region"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Region"
                        }
                    }
                }
            }
        },
        "/v1/regions/{id}": {
            "delete": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "region"
                ],
                "summary": "Deletes a given region",
                "operationId": "region-delete",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Region id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    }
                }
            }
        },
        "/v1/services": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "services"
                ],
                "summary": "Gets list of services",
                "operationId": "services-getall",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Service"
                            }
                        }
                    }
                }
            },
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "services"
                ],
                "summary": "Creates a service",
                "operationId": "services-create",
                "parameters": [
                    {
                        "description": "Service object",
                        "name": "service",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.Service"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Service"
                        }
                    }
                }
            }
        },
        "/v1/services/{id}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "services"
                ],
                "summary": "Gets one of services",
                "operationId": "services-getone",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Service"
                        }
                    }
                }
            },
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "services"
                ],
                "summary": "Gets list of services",
                "operationId": "services-get",
                "parameters": [
                    {
                        "description": "Service object",
                        "name": "service",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.Service"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Service"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "models.Incident": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "isMaintenance": {
                    "type": "boolean"
                },
                "latestTweetId": {
                    "type": "integer"
                },
                "maintenance": {
                    "$ref": "#/definitions/models.IncidentMaintenance"
                },
                "originalTweetId": {
                    "type": "integer"
                },
                "regions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.RegionUpdate"
                    }
                },
                "services": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.ServiceUpdate"
                    }
                },
                "status": {
                    "type": "string"
                },
                "time": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "updatedAt": {
                    "type": "string"
                },
                "updates": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.IncidentUpdate"
                    }
                }
            }
        },
        "models.IncidentMaintenance": {
            "type": "object",
            "properties": {
                "end": {
                    "type": "string"
                },
                "start": {
                    "type": "string"
                }
            }
        },
        "models.IncidentUpdate": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "message": {
                    "type": "string"
                },
                "regions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.RegionUpdate"
                    }
                },
                "services": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.ServiceUpdate"
                    }
                },
                "status": {
                    "type": "string"
                },
                "time": {
                    "type": "string"
                }
            }
        },
        "models.Region": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "enabled": {
                    "type": "boolean"
                },
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "regionCode": {
                    "type": "string"
                },
                "serviceID": {
                    "type": "integer"
                },
                "serviceName": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "updatedAt": {
                    "type": "string"
                }
            }
        },
        "models.RegionUpdate": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "regionCode": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "models.Service": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "enabled": {
                    "type": "boolean"
                },
                "group": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "link": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "regions": {
                    "description": "Not stored like this on DB, filled on-read when needed",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.Region"
                    }
                },
                "status": {
                    "type": "string"
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "updatedAt": {
                    "type": "string"
                }
            }
        },
        "models.ServiceUpdate": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                }
            }
        }
    }
}